.img-dis{
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgb(243, 215, 0);
    margin-bottom: 1.5rem;
}
.img-dis:hover{
    transform: scale(1.1);
    box-shadow: 0 0  10px rgb(162, 92, 0);
    transition: .3s;
}
.disco-fondo{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.648)), url(../assets/fondo.jpg);
    background-size: cover;
    margin: 5rem 8rem;
    border-radius: 10px;

   
}
.disco-fondo h3{
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #ffc107;
}
@media(max-width:768px){
    .disco-fondo{
        margin: 2rem;
    }
}
 @media (max-width:1080px){
    .disco-fondo{
        margin: 0rem;
    }
 }